.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
body, html {
  height: 100%;
  background: url("../images/pinkbackground.png");
}
.wrapper {
  background: url("../images/pic2.jpg");
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .fullframe {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */


.logo-pic {
  height: 100px;
  width: 320px;
}

li {
    float: right;
}
  
li a {
    display: inline-block;
    color: #FCE4EC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.name {
    margin-left: 100px;
    float: left;
    text-align: center;
    padding: 30px;
    color: #ffffff;
    background: #FCE4EC;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    padding: 20px;
    margin: auto;
    max-width: 960px;
}

h2 {
    color: #FCE4EC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 50px;
    margin: auto;
    max-width: 960px;
}

.main {
  padding: 10px;
  margin: 180px;
  margin-top: 140px;
  width: 960px;
  background-color: #ffffff;
  justify-content: center;
}

.me {
  padding-top: 35px;
  border-bottom: #FCE4EC;
  border-bottom-style: solid;
  text-align: left;
}

.title {
  width: 960px;
  font-family: Arial, Helvetica, sans-serif;
  color: #9E9E9E;
  background-color: #ffffff;
  display: block;
  justify-content: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #9E9E9E; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

a {
    display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

a :hover{
    color: #F48FB1 !important;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.conTact {
  color: #F48FB1;
  text-align: center;
}
.eMaiL,
.phone {
  height: 50px;
  color: #F8BBD0;
  background-color: transparent;
  font-size: 14px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 395px;
  border-width: 1px;
  border-style: solid;
  border-color: #F8BBD0;
  border-image: initial;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  width: 130px;
  padding-top: 12px;
  text-align: -webkit-center;
} 
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #212121;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #212121;
}
  
/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.footerCon {
  border-radius: 5px !important;
  background-color: #424242 !important;
  padding: 20px !important;
}

.content {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  background-color: #ffffff;
  justify-content: center;
}

.column1 {
  width: 50%;
  height: 100px;
  width: 350px;
  border-radius: 10px;
  position: relative;
}

.column2 {
  width: 50%;
  height: 100px;
  width: 350px;
  border-radius: 10px;
  position: relative;
}

.lamp {
  float: left;
  display: inline;
}

.bar {
  float: left;
  display: inline;
}

.city {
  float: left;
  display: inline
}

.music {
  display: inline;
}

.nyc {
  float: left;
}

.text-block {
  text-align: center;
  bottom: 20px;
  background-color: #FCE4EC;
  color: white;
  width: 15%;
  height: 15px;
}

#contact {
  padding-top: 78px;
  text-align: center;
  width: 960px;
  height: 400px;
  margin-left: 230px;
  margin-top: 100px;
  margin-bottom: 100px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .sticky-footer {bottom: 0;}
}
